<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome Quiz Screen</title>
</head>

<body>
	<div>エラーですよん</div>
    <div style="display: flex; text-align: center;">
        <img th:src="/img/aloha1.jpg" src="../../static/img/aloha1.jpg" alt="" width="200" height="200">
        <img th:src="/img/coffee1.jpg" src="../../static/img/coffee1.jpg" alt="" width="200" height="200">
        <img th:src="/img/curry1.jpg" src="../../static/img/curry1.jpg" alt="" width="200" height="200">
        <img th:src="/img/noodle1.jpg" src="../../static/img/noodle1.jpg" alt="" width="200" height="200">
        <img th:src="/img/piza1.jpg" src="../../static/img/piza1.jpg" alt="" width="200" height="200">
    </div>
</body>

</html>